.image {
  max-width: 350px;
  object-fit: cover;
}

.priceWrapper {
  display: flex;
  gap: 12px;
}

.lastPrice {
  text-decoration: line-through;
}

.newPrice {
  font-weight: bold;
}

.wrapper {
  cursor: pointer;
  border-radius: 16px;
  padding: 12px 16px;
  max-width: 350px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
